#background{
  background-image: url("https://img.freepik.com/free-photo/vivid-blurred-colorful-background_58702-2545.jpg");
  height: 100%; 
  width: 100%;
  /* position: fixed; */

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}
#input{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: aliceblue;
    border-color: white;
    border-radius: 10px;
    border-style: solid;
    font: 15px Arial, sans-serif;
    color: black;
    text-emphasis-color: black;
    height:fit-content;
    width:fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}