<div class="post-detail">
    <h5>Title:</h5>{{ this.post.title }}
    <hr>
    <h5>Author:</h5>{{ this.post.author }}
    <hr>
    <h5>Text:</h5>{{ this.post.text}}
    <hr>
    <h4>Feedbacks:</h4>
    <div *ngFor="let o of this.post.feedbacks">
        Likes:{{ o.likes}} / Dislikes: {{o.dislikes}}
    </div>
    <hr>
    <h4>Comments:</h4>
    <div class="comment" *ngFor="let comment of this.post.comments">
        {{ this.comment.text}}
    </div>
</div>

<!-- <img [src] = "this.post.url"> -->
